
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    min-width: 400px;
}
.billReader{
    display: flex;
    justify-content: center; 
    align-items: center; 

}

.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
    text-align: left;
}
p{
    text-align: center;
}



h1 {
    text-align: center;
    color: #333;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #3200bd;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

td {
    background-color: #fff;
    cursor: pointer;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    th, td {
        white-space: nowrap;
    }
}