<div class="calculator">
    <div class="form-container">
        <h2>Kontaktformular</h2>
        <form action="/submit" method="POST">
            <label for="vorname">Vorname:</label>
            <input type="text" id="vorname" name="vorname" placeholder="Vorname" required>

            <label for="nachname">Nachname:</label>
            <input type="text" id="nachname" name="nachname" placeholder="Nachname" required>

            <label for="adresse">Adresse:</label>
            <input type="text" id="adresse" name="adresse" placeholder="Adresse" required>

            <label for="options">Rechnungsgrund</label>
            <select id="options" name="options" required>
                <option value="">Bitte wählen...</option>
                <option value="option1">Wordpress</option>
                <option value="option2">Programmiert</option>
                <option value="option3">Beratung und Google präsenz</option>
            </select>

            <button type="submit">Absenden</button>
        </form>
    </div>
</div>